*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: rgb(201, 202, 203);
  font-family: arial;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  width: 100vw;
  height: 7vh;
  background-color: rgb(53, 56, 69);
  color:rgb(255,255,255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  font-size: 20px;
  margin-left: 4rem;
}

header h2{
  margin-right: 3rem;
  font-size: 16px;
}

header a{
  color:white;
  text-decoration: none;
}

.headerelements{
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2{
  margin-bottom: 40px;
  font-size: 20px;
}

form input{
  width: 200px;
  height: 40px;
  border: 0;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 100, 113);
  color:rgb(255,255,255);
  height: 93vh;
  width: 80vw;
}

.form-control{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  gap: 10px;
}
.checkboxbtn{
  width: 15px;
  height: 15px;
  margin: 0 5px;;
}

.termsandcontions{
  margin-top :25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.termsandcontions h3{
  font-size: 11px;
}

.registerbtn h3{
  font-size: 15px;
}

.homepage, .topsamples, .loginpage, .registerpage, .errorpage{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93vh;
}

.registerbtn, .loginbtn{
  border: 0;
  width: 200px;
  height: 40px;
  margin-top: 35px;
  background-color: rgb(139, 206, 134);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.test-btn{
  height: 100px;
  width: 300px;
  background-color: brown;
  cursor: pointer;
}

.SampleCard{
  justify-content: center;
  align-items:center;
  height: 150px;
  width: 400px;
}

.SampleTitle{
  font-size: 28px;
  color:black;
}

.SampleAuthor{
  font-size: 14px;
  color:gray;
}